.home-carousel-container {
  height: 41.5rem;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.home-carousel-img-box {
  min-width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-hero-item-container {
  display: flex;
  width: 100%;
  align-items: center;
}
.home-carousel-img-box::after {
  content: "";
  position: absolute;
  height: 100%;
  min-width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}

.switch-dates-Container {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.calendar-switch-container {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: #f7f6f6;
  width: 50%;
  border-radius: 3rem;
  justify-content: space-between;
  font-family: ClashDisplayregular;
  cursor: pointer;
}
.calendar-switch-active {
  background-color: #625ec8;
  border-radius: 3rem;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-family: ClashDisplayMedium;
}
.calendar-switch {
  border-radius: 3rem;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  color: #bbbbbb;
  justify-content: center;
  font-family: ClashDisplayMedium;
}
.cal-chart-container {
  position: absolute;
  top: 1.5rem;
  z-index: 50;
  background-color: #fff;
  right: 0;
}
.home-cal-dot-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: absolute;
  top: 50%;
  left: -5%;
  align-items: center;
}
.home-cal-dots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e3e3e3;
}
.home-cal-dots-active {
  width: 24px;
  height: 12px;
  border-radius: 6px;
  background-color: #625ec8;
}
.date-container {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}
.dates-container {
  display: flex;
  /* justify-content: space-between; */
  /* column-gap: 3rem; */
  align-items: center;
  /* min-width: 100%; */
}
.event-details-container {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  position: relative;
}
.event-text-holder {
  width: 50%;
}
.home-cal-noEvent {
  font-family: ClashDisplayMedium;
  color: #d5d4f9;
  font-size: 96px;
}
.event-img-holder {
  width: 45%;
}
.dates-calendar-container {
  width: 50%;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.calender-dates-holder {
  display: flex;
  column-gap: 1.5rem;
  margin: 2rem 0rem;
  align-items: center;
  min-width: 100%;
  justify-content: space-between;
}
.calendar-switch-holder {
  width: 50%;
}
.calendar-date-text {
  font-size: 20px;
}
.calendar-day-text {
  font-size: 10px;
  font-family: ClashDisplayRegular;
  color: #625ec8;
  font-size: 12px;
}

/* About styles */

.home-about-heading,
.home-service-heading,
.home-testimonial-heading {
  color: #008e2f;
  font-family: RalewayBold;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 0rem;
  margin: 0;
}
.home-about-content-container {
  display: flex;
  column-gap: 3rem;
}
.home-about-text {
  width: 50%;
}
.home-about-heading-text {
  font-family: ClashDisplaySemibold;
  font-size: 1.25rem;
}
.home-service-text-container {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  width: 50%;
  background-color: white;
  height: 300px;
  margin: 0px;
}
.home-about-img,
.home-service-img-container {
  width: 45%;
}
.home-about-img {
  display: flex;
  margin: 0rem;
}
.home-about-image-holder {
  width: 70%;
  object-fit: contain;
}
.backgroundimage {
  background-image: url("https://images.unsplash.com/photo-1721332155637-8b339526cf4c?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  height: 300px;
}
.about-container {
  background-color: #fff;
}
.home-about-img-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* home Services */
.home-component-container {
  max-width: 100%;
  padding: 6rem 10rem;
  /* height: 70vh; */
}
.home-service-block {
  display: flex;
  column-gap: 3rem;
  margin: 1rem 0rem;
}
.home-service-title {
  font-size: 64px;
  font-weight: 400;
  padding: 1rem 0rem;
  font-family: ClashDisplayRegular;
}
.home-pride-container {
  padding: 5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  /* row-gap: 9.25rem; */
}
.home-pride-number-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin: 8rem 0rem;
}
.home-pride-number {
  color: #008e2f;
  font-family: ClashDisplaySemiBold;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
}
.home-pride-text {
  color: #6a6a6a;
  font-family: ClashDisplayMedium;
  font-size: 1.75rem;
}
.home-pride-text-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}
.home-pride-hero-text {
  font-size: 3rem;
  font-family: ClashDisplayMedium;
}
.home-testimonial-container {
  padding: 5rem;
  max-width: 100%;
}
/* partners */

.home-partners-container {
  padding: 10rem 0rem;
  max-width: 100%;
  background-color: #fafafa;
}
.home-partner-subheading {
  font-size: 3rem;
  font-family: ClashDisplayMedium;
  text-align: center;
}
.home-partner-content {
  font-style: 1.25rem;
  text-align: center;
}
.partner-logo-styles {
  width: 10rem;
  height: 6rem;
  padding-top: 3rem;
}
.home-partner-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  padding: 2rem 0rem;
  flex-wrap: wrap;
}

/* testimonials */
.home-testimonial-content-container {
  display: flex;
  align-items: center;
}
.home-testimonial-title,
.home-testimonial-content {
  width: 50%;
}
.home-testimonial-title-content {
  font-family: ClashDisplayMedium;
  font-size: 3rem;
  width: 80%;
  /* line-height: normal; */
}
.home-testimonial-stack {
  width: 100%;
  /* height: 2.5rem; */
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  background-color: #f9f9f9;
  align-items: center;
  padding: 0.5rem;
}
.home-testimonial-catagory-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #625ec8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-testimonials-desktop {
  padding: 3rem 0rem;
}
.testimonial-tab-titles {
  font-family: ClashDisplayRegular;
  font-size: 1.25rem;
  cursor: pointer;
  color: #949494;
}
.desktop-testimonial-video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-wrap: wrap;
  justify-content: space-between; */
  gap: 2rem;
  padding: 3rem 0rem;
}
/* .desktop-testimonial-video { */
/* width: 32%; */
/* min-width: 25rem; */
/* } */
.home-testimonial-mobile-stack {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 2rem;
  background-color: #f9f9f9;
  /* overflow: hidden; */
  overflow-x: scroll;
  height: 4rem;
  align-items: center;
  padding: 0rem 0.75rem;
  border-radius: 5px;
}
.home-testimonial-mobile-video-stack {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  column-gap: 0.75rem;
  width: 100%;
  margin: 1.5rem 0rem;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  /* For WebKit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    display: none;
  }
}
.home-testimonial-mobile-video {
  min-width: 90%;
}
.home-testimonial-mobile {
  display: none;
}

/* home hero */

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background: #000000b2;
  z-index: 1;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.hero-slider-des-container,
.hero-slider-heading-container {
  z-index: 9;
  width: 35%;
}

.hero-slider-heading,
.hero-slider-des {
  padding: 0rem 2rem;
  max-width: 100%;
  color: #fff;
}
.hero-title-heading-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 2rem;
}
.hero-title-heading {
  font-family: ClashDisplayMedium;
  font-size: 1rem;
  max-width: 100%;
  color: #fff;
  /* padding: 2rem; */
}
.hero-title-heading-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.hero-slider-heading {
  font-family: ClashDisplayRegular;
  font-size: 3rem;
}
.hero-slider-des-container {
  display: flex;
  flex-direction: column;
  /* align-items: end; */
}

[type="radio"] {
  display: none;
}

/* In HomePage.css */

.slider-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.slide {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background-size: cover;
  background-position: center;
  transition: transform 0.8s, opacity 0.8s;
  /* Add these lines for responsiveness */
  will-change: transform, opacity;
  width: 80%; /* Default width for all slides */
  max-width: 500px; /* Limit max width */
  height: auto;
  border-radius: 10px; /* Optional: add some styling */
}

#slider {
  height: 22vw; /* Reduced height */
  width: 30%; /* Set width */
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  z-index: 2;
}

#slider label {
  width: 100%; /* Adjusted width of each slide */
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

/* Dot container styles */
.hero-dots-container {
  position: absolute;
  bottom: 15%; /* Adjust distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between dots */
  z-index: 999;
}

.hero-dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.hero-dot.hero-active {
  width: 12px;
  height: 24px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* learn more styles */
.hero-learn-more-btn {
  color: #fff;
  text-decoration: underline #fff;
  text-underline-offset: 5px;
  font-weight: 400;
}
.hero-learn-more-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 2rem;
  max-width: 100%;
  cursor: pointer;
}
.hero-learn-more-arr-container {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.hero-learn-more-arr {
  rotate: 45deg;
  color: #fff;
  padding: 0.2rem;
}

/* cla-2-css */
.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-image-holder {
  flex: 1;
  overflow: hidden;
  height: auto;
  /* height: 30rem; */
}

.carousel-image-holder img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.nav-button {
  position: absolute;
  top: 50%;
  background: #625ec8;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  transform: translateY(-50%);
  border-radius: 50%;
}

.nav-button.prev {
  left: -2%;
}

.nav-button.next {
  right: -2%;
}
.mobile-home-cal {
  display: none;
}
.home-cal-mob {
  display: none;
}
.home-mob-cal-dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e3e3e3;
}

.home-mob-cal-dots.active {
  background-color: #625ec8; /* Active dot color */
  height: 20px;
  width: 5px;
  border-radius: 20px;
}
.home-mob-cal-dots-container {
  display: none;
}

@media only screen and (max-width: 767px) {
  .carousel-image-holder {
    flex: 1;
    overflow: hidden;
    /* height: auto; */
    height: 30rem;
  }
  .mobile-home-cal {
    display: block;
    margin-left: 1rem;
  }
  /* .cal-chart-container { */
  /* display: none; */
  /* } */
  .event-details-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .event-text-holder,
  .event-img-holder {
    width: 100%;
  }
  .calendar-container {
    padding: 1rem;
  }
  .dates-container {
    display: none;
  }
  .switch-dates-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
    column-gap: normal;
  }
  .dates-calendar-container {
    width: auto;
    border-radius: 5px;
  }
  .carousel-image-holder {
    height: 17rem;
  }
  .calender-dates-holder {
    display: none;
  }
  .calendar-switch-holder {
    width: 100%;
    max-width: 30rem;
  }
  .calendar-switch-container {
    width: auto;
  }
  .home-cal-dot-container {
    display: none;
  }
  .home-about-content-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-service-block {
    display: flex;
    flex-direction: column;
  }
  .home-component-container {
    padding: 1.25rem;
    height: auto;
  }
  .home-about-text,
  .home-about-img,
  .home-service-text-container,
  .home-service-img-container,
  .home-testimonial-title,
  .home-testimonial-content {
    width: 100%;
  }
  .home-about-img {
    margin: 1.5rem 0rem;
  }
  .home-service-title {
    font-size: 1.5rem;
    padding: 0rem;
    font-family: ClashDisplayMedium;
  }
  .home-about-image-holder {
    width: 100%;
  }
  .home-service-img-container {
    max-width: 100%;
    padding: 1rem 0rem;
  }
  .home-service-text-container {
    margin: 1.5rem 0rem;
    height: 100%;
  }
  .home-service-text-container {
    position: -webkit-sticky;
    position: sticky;
    top: 23%;
    background-color: white;
    margin: 0px;
  }
  .home-serv-tab-mar-top {
    margin-top: 6rem;
  }
  .home-pride-number-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin: 0rem 0rem;
  }
  .home-pride-container {
    padding: 1.25rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3.25rem;
  }
  .home-pride-number-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
  }
  .home-pride-text,
  .home-pride-hero-text,
  .home-partner-subheading {
    font-size: 1.5rem;
  }
  .home-pride-number {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .home-testimonial-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .home-testimonial-container {
    padding: 1.5rem;
    max-width: 100%;
  }
  .home-testimonial-heading {
    margin: 2rem 0rem;
  }
  .home-testimonial-title-content {
    font-size: 1.5rem;
    width: 100%;
  }
  .home-testimonials-desktop {
    display: none;
  }
  .home-testimonial-mobile {
    display: block;
  }
  .testimonial-video-player {
    height: 250px;
  }
  .home-partner-logo-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
  }

  /*Hero */
  .blur-overlay {
    display: flex;
    flex-direction: column;
  }
  #slider {
    width: 80%;
    height: 30vh;
  }
  .home-hero-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 3rem;
  }
  .hero-slider-des-container,
  .hero-slider-heading-container {
    z-index: 9;
    width: 100%;
  }
  .slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hero-slider-heading {
    font-size: 1.5rem;
  }
  .hero-dots-container {
    position: absolute;
    bottom: 34%; /* Adjust distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between dots */
    z-index: 999;
  }

  .hero-dot {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  .hero-dot.hero-active {
    width: 8px;
    height: 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  .about-container {
    background-color: #fafafa;
    padding: 3rem 1.5rem;
  }
  .home-cal-noEvent {
    font-family: ClashDisplayMedium;
    color: #d5d4f9;
    font-size: 32px;
  }
  .mobile-tab-hidden {
    display: none;
  }
  .home-cal-mob {
    display: flex;
    flex-direction: column-reverse;
    min-width: 100%;
    row-gap: 2rem;
  }
  .home-cal-img-mob {
    height: 15rem;
    margin-bottom: 3rem;
  }
  .home-mob-cal-dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    /* top:  */
    top: 18.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .home-event-card-container-mob {
    display: flex;
    min-width: 100%;
    overflow-x: scroll;
    column-gap: 1rem;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    /* For WebKit browsers (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .carousel-image-holder {
    flex: 1;
    overflow: hidden;
    /* height: auto; */
    height: 30rem;
  }
  .home-component-container {
    padding: 2rem 3rem;
  }
  .home-service-title {
    font-size: 3rem;
  }
  .home-service-block {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
  .home-about-text,
  .home-about-img,
  .home-service-text-container,
  .home-service-img-container {
    width: 100%;
  }
  .home-about-content-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-about-img-container {
    display: block;
    margin: 2.5rem 0rem;
    min-width: 100%;
    height: 80vh;
  }
  .home-testimonial-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .home-testimonial-content,
  .home-testimonial-title,
  .home-testimonial-title-content {
    width: 100%;
  }
  .home-testimonial-heading {
    margin: 2rem 0rem;
  }
  .home-testimonial-title-content {
    font-size: 1.5rem;
    width: 100%;
  }
  .home-testimonials-desktop {
    display: none;
  }
  .home-testimonial-mobile {
    display: block;
    height: 10%;
    margin: 1rem 0rem;
  }
  .testimonial-video-player {
    height: 350px;
  }
  .date-container {
    padding: 0.25rem 0.55rem;
    border-radius: 10px;
  }
  .event-details-container {
    display: flex;
    flex-direction: column-reverse;
    column-gap: 1rem;
  }
  .event-img-holder,
  .event-text-holder {
    width: 100%;
  }
  .calendar-date-text {
    font-size: 14px;
  }
  .calendar-day-text {
    font-size: 10px;
  }
  .home-pride-number-container {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
  }
  .news-letter-sub-text {
    gap: 2rem;
  }
  .hero-slider-heading {
    font-size: 1.5rem;
  }
  .home-hero-item-container {
    display: grid;
    padding: 10%;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 2rem; /* Adjust spacing as needed */
  }
  .slider-container {
    height: 35rem;
  }
  #slider {
    width: 100%;
  }
  .hero-dots-container {
    position: absolute;
    bottom: 5%;
  }
  .home-hero-item-container > :nth-child(1) {
    grid-column: 1 / -1;
    width: 100%;
  }

  .home-hero-item-container > :nth-child(2) {
    grid-column: 1 / 2;
    width: 100%;
  }

  .home-hero-item-container > :nth-child(3) {
    grid-column: 2 / 3;
    width: 100%;
  }
  .hero-title-heading-container {
    padding: 0rem 0rem 2rem 2rem;
  }
  .dates-calendar-container {
    width: 45%;
    /* display: grid; */
    /* grid-template-columns: repeat(7, 1fr); */
    /* display: flex; */
    /* column-gap: 1rem; */
    align-items: center;
  }
  .calender-dates-holder {
    display: flex;
    column-gap: 0rem;
  }
  .calendar-switch-container {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: #f7f6f6;
    width: 85%;
    border-radius: 3rem;
    justify-content: space-between;
    font-family: ClashDisplayregular;
    cursor: pointer;
  }
  .home-cal-dot-container {
    display: none;
  }
  .home-partner-subheading,
  .home-pride-hero-text {
    line-height: 4rem;
  }
  .home-pride-number-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
  }
  .mobile-tab-hidden {
    display: none;
  }

  .home-event-card-container-mob {
    display: flex;
    min-width: 100%;
    overflow-x: scroll;
    column-gap: 1rem;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    /* For WebKit browsers (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .home-cal-mob {
    display: flex;
    flex-direction: column-reverse;
    min-width: 100%;
    row-gap: 2rem;
  }
  .home-cal-img-mob {
    height: 20rem;
    margin-bottom: 3rem;
  }
  .home-mob-cal-dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 30.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .home-serv-tab-mar-top {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .home-service-title {
    font-size: 4rem;
  }
  .date-container {
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
  }
  .calendar-date-text {
    font-size: 14px;
  }
  .calendar-day-text {
    font-size: 10px;
  }
  .home-component-container {
    padding: 2rem 5rem;
  }
  .hero-slider-heading {
    font-size: 2rem;
  }
}
