.news-letter-container {
  background-color: #008e2f;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: hidden;
}
.news-letter-main-text {
  color: #fff;
  font-size: 3rem;
  font-family: ClashDisplayMedium;
}
.news-letter-sub-text {
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem;
  width: 60%;
}
.news-letter-input-holder {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.newsletter-inp {
  outline: none;
  border: 1px solid #fff;
  background-color: #008e2f;
  padding: 0rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 25.5rem;
  min-width: auto;
  font-family: ClashDisplayRegular;
  color: #fff;
}
.newsletter-inp::placeholder {
  font-family: ClashDisplayRegular;
  color: #fff;
}
.news-letter-btn {
  background-color: #fff;
  color: #008e2f;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  height: 3rem;
  font-family: ClashDisplayMedium;
  letter-spacing: 0.5px;
}
.news-letter-input-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 380px) {
  .news-letter-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
  }
  .news-letter-sub-text {
    font-size: 1rem;
    padding: 2rem 0rem;
    width: 100%;
  }
  .news-letter-main-text {
    font-size: 1.5rem;
  }
  .news-letter-input-container {
    display: block;
  }
  .newsletter-inp {
    width: 8.5rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 380px) {
  .news-letter-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
  }
  .news-letter-sub-text {
    font-size: 1rem;
    padding: 2rem 0rem;
    width: 100%;
  }
  .news-letter-main-text {
    font-size: 1.5rem;
  }
  .news-letter-input-container {
    display: block;
  }
}
