/* CustomCursor.css */
.custom-cursor {
  position: fixed;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008e2f;
  font-size: 12px;
  text-align: center;
  z-index: 9999;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform, opacity, font-size; /* Include font-size if scaling text */
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #008e2f;
}

/* HoverComponent.css */
.hover-component {
  display: inline-block;
  position: relative;
}

.hover-component img {
  display: block;
}

.hide-default-cursor {
  cursor: none; /* Hide the default cursor */
}

/* Additional styles */
a {
  text-decoration: none;
  color: #222222;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
